.AboutUs{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-right: 6%;
  margin-left: 10%;
  margin-bottom: 8%;
  gap: 20px;
}
.AboutUs .left{
  width: 76%;
}
.AboutUs .right{
  width: 30%;
  margin-left: 10%;
}
.right .imgright{
  width: 80%;
  height: 334px;
  background-color: #ed803a;
  border-radius: 36px;
  box-shadow: 0px 4px 4px #00000040;
  background-size:contain ;
}
.imgrighttop{
  width: 33%;
}
.iconsleft{
  color: #00A482;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  font-weight: 500;
}
.icon1{
  display: flex;
  flex-direction:column;
}
