
.login-page{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #00000090;
    display: grid;
}
.login-page-container{
    place-self: center;
    width: max(30vw,450px);
    color: black;
    background-color: white;
    display: flex;
    flex-direction:row;
    gap: 25px;
    /* padding: 25px 30px; */
    border-radius: 10px;
    font-size: 14px;
    animation: fadeIn 1s;
    overflow: hidden;
}
.login-page-left img{
    width: 100%;
    height:100%;
    /* border-radius: 10px; */
}
.login-page-right{
    width: 500px;
    margin-right: 25px;
    margin-top: 30px;
}
.login-page-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
}
.login-page-title img{
    width: 16px;
    cursor: pointer;
}
.login-page-input{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.login-page-input input{
    outline: none;
    border: 1.5px solid #c9c9c9;
    padding: 8px;
    border-radius: 6px;
}
.Login-page-buttons{
    display: flex;
    gap: 10px;
}
.login-page-buttons-button{
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 7px;
    border-radius:6px ;
    color: white;
    background-color: orangered;
    font-size: 10px;
    cursor: pointer;
    height: 40px;

}
.login-page-buttons-button {
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 6px;
    color: white;
    background-color: orangered;
    font-size: 10px;
    cursor: pointer;   
}

.login-page-buttons-button.emergency {
    height: 40px;
    background-color: #FE5353E8; 
}

.login-page-condition{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: -15px;
}
.login-page-condition input{
    margin-top: 5px;
}
.login-page p span{
    color:orangered;
    font-weight: 600;
    cursor: pointer;
}

