.Appointment {
    color: #FFF;
    background-color: #0B82C6;
    padding: 10%;
    padding-top: 4%;
    padding-bottom: 1%;
    display: flex;
    gap:3%;
    width: 100%;
}

.Appointment .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%; 
}

.left .top {
    padding-bottom: 4cqw;
}

.row {
    display: flex;
    gap: 3%; 
}

.iconswhite {
    display: flex;
    font-weight: 600;
    gap: 10%;
}

