.Appointment{
    color: #FFF;
    background-color:#0B82C6;
    padding: 10%;
    padding-top: 4%;
    padding-bottom: 1%;
    display: flex;
    gap: 3%;
    /* max-height:60vh; */
    /* max-height: 60vh; */
}
.Appointment .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
}
.left .top{
    padding-bottom: 4cqw;
}

.iconswhite{
    display: flex;
    font-weight: 600;
    gap: 10%;
}
.reservation-container {
    padding: 2%;
    margin: 0px;
    width: 33%;
    background-color: #091E3E;
    z-index: 1000;
    border-radius: 6px;
}

.reservation-wrapper {
    width: 100%;
    padding: 30px;
    background-color: #f9f9f9; 
    border-radius: 8px;
}

.reservation-header {
    margin-bottom: 20px;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form-left {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.selection-fields {
    display: flex;
    justify-content: space-between;
    gap: 15px; 
}

.selection-fields select,
.booking-form-left input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ED803A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #d26f32; 
}


